body {
  font-family: Middleearth-ao6m;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(./slike/858267-the-fellowship-of-the-ring-the-lord-of-the-rings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-header { 
  background-image: url(./slike/images.jpg);
  background-size: contain;
  background-position: center;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: yellow;
  text-shadow: 0 0 20px red;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: black;
  font-size: 25px;
  padding-bottom: 4px;
  text-shadow: 0 0 20px black;
  background-color: white;
  border-radius: 10px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid red;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: red;
  border-color: yellow;
  color: white;
  border-radius: 8px;
  margin-left: 10px;
}